.hidden {
    display: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 0, 18);
    color: white;
}

header {
    background-color: rgb(230, 0, 18);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

#Nintendo-logo{
    display: block;
    width: 300px;
    margin: auto;
}

#game-nav {
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    background-size: cover;
}

#games {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#games li {
    display: inline;
    margin: 10px;
}

#games li img {
    border: solid 1px silver;
    padding: 5px;
    background-color: black;
    box-shadow: 0px 0px 10px 0 rgba(255, 255, 255, 0.9);
    transition: all .5s ease-in-out;
}

#games li a {
    text-decoration: none;
}

#games li img:hover {
    
    filter: grayscale(100%);
    border-radius: 50%;
}

#Instructions {
    padding: 20px;
    background-color: silver;
}

#Instructions h3 {
    font-size: 32px;
    text-align: center;
    color:black;
}

#Instructions p {
    font-size: 10px;
    text-align: center;
    color: black;
}

#main-footer {
    height: 80px;
    background-color: rgb(238, 0, 18);
    padding: 20px 0;
    text-align: center;
}

.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    background-repeat: no-repeat;
}

.lightbox:target {
    display: block;
}

#lightbox1 {
    background-image: url(../images/Mario_LB.png);
    background-size: 75vh;
    background-position: 40px bottom;
}

#lightbox2 {
    background-image: url(../images/Link_LB.png);
}

#lightbox3 {
    background-image: url(../images/Animal_Crossing_LB.png);
    background-size: 55vh;
    background-position: 40px bottom;
}

#lightbox4 {
    background-image: url(../images/Splatoon_LB.png);
    background-size: 100vh;
    background-position: 40px bottom;
}

#lightbox5 {
    background-image: url(../images/Pikmin_LB.png);
    background-size: 95vw;
    background-position: 40px bottom;
}

#lightbox6 {
    background-image: url(../images/Kirby_LB.png);background-size: 95vh;
    background-position: 40px bottom;
    background-size: 75vh;
}

.lightbox-close {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 95vw;
    transition: all .5s ease-in-out;
}

.lightbox-close:hover {
    color: red;
}

.lightbox section {
    width: 600px;
    margin-left: 40%;
    margin-top: 50px
}

.lb-heading {
    font-size: 30px;
}

.lightbox p {
    line-height: 22px;
}
